* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Colors*/
.bg-s {
    background-color: #618869;
}

.bg-p {
    background-color: #595034;
}

.bg-e {
    background-color: #5CA7AF;
}

.bg-c {
    background-color: #CA7336;
}

.bg-i {
    background-color: #929175;
}

.bg-a {
    background-color: #C18768;
}

.bg-l {
    background-color: #9390A4;
}

/*stats*/
.stats-card{
    display: block;
    position: relative;
    border-radius: 1rem;
    height: 11rem;
    min-width: 8rem;
}

#specials>div>h1{
    margin: 0;
    z-index: 1;
    color: aliceblue;
    font-size: 10rem;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    text-align: center;
    font-weight: 700;
}

#specials>div>h2{
    
    margin: 0;
    z-index: 2;
    font-size: rem;
    position: absolute;
    top: 0rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: aliceblue;
}

#specials>div>p {
    position: relative;
    bottom: 1rem;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

/*Decks*/

.deck {
    position: relative;
    top: 2rem;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0.5rem;
}

/*Cards*/

.perk-card {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px gray;
}

.card-title {
    font-size: 1.5rem;
    border-radius:0.5rem 0.5rem 0 0;
    padding: 1px;
}

.cost {
    display: inline-block;
    border-radius: 0.5rem;
    background-color: white;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-left: 0.2rem;
    font-weight: 700;
}

.card-name {
    font-size: 1rem;
    font-weight: 700;
    color: aliceblue;
}

.card-desc {
    margin: 1rem 0.2rem;
    font-size: 0.8rem;
}

.star-field {
    text-align: center;
    color: #595a5a;
    font-size: 1.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1px;
}

.star {
    box-shadow: 
}

/*fit for smaller screens*/
@media only screen and (max-width: 1007px) {
    .stats-card{
        min-width: 6rem;
    }
    
    /*Decks*/
    #decks>div {
        min-width: 6rem;
    }
    
    .card-name {
        font-size: 0.7rem;
    }
    
    .cost {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.2rem;
        line-height: 1rem;
    }
    
    .card-title {
        height: 1.5rem;
        line-height: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .stats-card{
        height: 3rem;
        margin-bottom: 0.5rem;
    }
    
    #specials>div>h1 {
        display: none;
    }
    
    #specials>div>p {
        position: relative;
        top: 0.1rem;
        left: 5rem;
        color: aliceblue;
    }
    
    .card-name {
        font-size: 1rem;
    }
}