.stats-card{
    display: block;
    border-radius: 1rem;
    background-color: green;
    height: 11rem;
    width: 8rem;
}

#specials>div>h1{
    color: aliceblue;
    font-size: 10rem;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    text-align: center;
    font-weight: 700;
}

#specials>div>h2{
    position: absolute;
    top: 2rem;
}