.container-fluid {
    margin:0;
    padding: 0;
}


/*header*/
.carousel-inner {
    margin: 0 auto;
    width: 90%;

}
.control {
    width: 5%;
}

.carousel-item {
    text-align: center;
    height: 3.3em;
    line-height: 1.1em;
}
header {
    margin: 2rem;
    padding: 2rem !important;
    background-color: #5b8f92 !important;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
}

header a {
    color: white;
}

header a:hover {
    color: #d38c00;
}
/*display*/
#display-section
{
    margin: 1rem 2rem;

    display: flex;
    flex-direction: column;
}

#points-section {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: "Noto Sans SC", sans-serif;
    color: #5c5c5c;
    font-weight: bold;
    height: 2rem;
    text-align: right;
}

#stats-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats-card {
    flex: 0 0 8rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.stats-chinese-name {
    white-space: nowrap;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: aliceblue;
    line-height: 1.1em;
}

.stats-english-name {
    color: aliceblue;
    font-size: 10rem;
    line-height: 0.6em;
    font-weight: bold;
}

.stats-display {
    font-size: 1.5rem;
    position: relative;
    bottom: -2rem;
}

.stats-card:nth-child(1) {
    background-color: #618869;
}

.stats-card:nth-child(2) {
    background-color: #595034;
}

.stats-card:nth-child(3) {
    background-color: #5CA7AF;
}

.stats-card:nth-child(4) {
    background-color: #CA7336;
}

.stats-card:nth-child(5) {
    background-color: #929175;
}

.stats-card:nth-child(6) {
    background-color: #C18768;
}

.stats-card:nth-child(7) {
    background-color: #9390A4;
}

/*control*/
#control-section {
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 0;
    border-radius: 0.3rem;
    background-color: #5a6268;
}

/*footer*/


@media only screen and (min-width: 1280px) {
    /*wide screen*/
    .container-fluid {
        width: 1280px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    /*small screen*/

    header {
        margin: 0;
    }

    #control-section {
        margin: 0;
        padding: 0.5rem;
    }

    #control-section>* {
        padding: 0 !important;
    }
}